<a href="/logout"><button class="btn btn-default">Logout</button></a>
<h1>{{user.username}}</h1>
<h3>Your referral link is <a href="http://localhost:3000/ponzvert/{{user.shortid}}">http://localhost:3000/ponzvert/{{user.shortid}}</a></h3>

<h2>Ponz Points&#8482;: ${{user.points}}</h2>

<h3>Your Ponzverts</h3>
{{#if user.children.length}}
  {{#each user.children as |child|}}
    <h5>Points: ${{child.points}}, User: {{child.username}}, ponverted on {{child.timestamp}}</h5>
  {{/each}}
{{/if}}
