<h1>Hello, {{user.username}}!</h1>

<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Your Score:</div>
      <div class="panel-body">
        {{user.ponzBucks}}
      
        <div>
          {{#if user.children}}
            {{#each user.children as |child|}}  
              {{child.name}} has earned you <str>40</str> PonzBucks! 
             <i> ponverted at {{child.createdAt}}</i>
            {{/each}}
          {{else}}
            You have no ponverts.  Are you really committed to this opportunity?
          {{/if}}
        </div>
       </div>
     </div>
  </div>
</div>