<h1>Welcome {{user.username}}</h1>

 <div class='container-fluid'>
  <div class='card'>
    <h2>Your referral link is <a href='/ponzvert/{{user.id}}'>http://localhost:3000/ponzvert/{{user.id}}</a></h2>
    <h4> Your referrer is {{referrer.username}} </h4>
  </div>
<div class='panel'>
    <h1>Ponz Pointz ${{points}}</h1>
  </div>
  <div class='panel'>
    <div class='panel-heading'>
      <h4>Your Ponzverts</h4>
    </div>
    <div class='panel-body'>
      {{#each userArray as |user|}}
      <span class="badge badge-success">${{points}}</span>
      {{/each}}
