<div class="panel panel-default top-panel">
  <div class="panel-body">
    <p>Your referral link is <span><a href="http://localhost:3000/ponzvert/{{currentUser.referralCode}}">http://localhost:3000/ponzvert/{{currentUser.referralCode}}</a></span></p>
    <p>Share this link with your friends to ponvert them!</p>
  </div>
</div>

<div class="panel panel-default ponz-pointz">
  <div class="panel-body">
    <h1>Ponz Pointz</h1><sup>TM</sup><span class="points"> {{points}}</span>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Your Ponzverts</div>
  <div class="panel-body">
    <ul class="all-ponzverts">
  {{#each allChildren as |child1|}}
  <li><span>$40</span>{{child1.email}} ponverted on {{formatDate child1.createdAt}}</li>
    {{#if child1.children.length}}
      <ul>
      {{#each child1.children as |child2|}}
        <li><span>$20</span>{{child2.email}} ponverted on {{formatDate child2.createdAt}}</li>
        {{#if child2.children.length}}
        <ul>
          {{#each child2.children as |child3|}}
          <li><span>$20</span>{{child3.email}} ponverted on {{formatDate child3.createdAt}}</li>
          {{/each}}
        </ul>
        {{/if}}
      {{/each}}
    </ul>
    {{/if}}

  {{/each}}
</ul>
</div>
</div>

