<div class="panel panel-success">
  <div class=panel-body>
    <h1>Refer Your Friends here!</h1>
    <h3>Your referral link is <a href="/register/{{user._id}}">http://localhost:3000/register/{{user._id}}</a></h3>
  </div>
</div>



{{user.AnkhMorporkDollars}}



    {{#each results as |result|}}
<div id="trapezoid{{@key}}">

        {{#each result as |user|}}
      <p id="pyramidText">{{user.username}}</p>
        {{/each}}
</div>
      {{/each}}
