<div class="col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <h3>Hello, {{user.username}}!</h3>
      </div>
      <div class="col-sm-3 col-sm-offset-3">
        <a href="/logout" class="btn btn-primary">Log Out</a>
      </div>
    </div>
  </div>
<div class="panel-body">
<h4>Your referral link: </h4>

<a href="http://localhost:3000/register/{{user.referralCode}}">
http://localhost:3000/register/{{user.referralCode}}</a>
</div>
</div>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">Your Score: {{user.ponzBucks}}</div>
      <div class="panel-body">
        <div>
          {{#if user.children}}
            {{#each user.children as |child|}}
              <div class="well well-sm">
                {{child.username}} has earned you <str>{{child.profit}}</str> PonzBucks! 
               <i> ponverted at {{child.createdAt}}</i>
              </div>
              {{#if child.children}}
                {{> childPartial children=child.children}}
              {{/if}}
            {{/each}}
          {{else}}
            You have no ponverts.  Are you really committed to this opportunity?
          {{/if}}
        </div>
       </div>
     </div>
  </div>
</div>