<h1>Welcome, {{currentUser.displayName}}! =D</h1>

<h3>Your referral link is: <a href='/register/{{currentUser._id}}'>http://www.ponz.io/register/{{currentUser._id}}</a></h3>

<p>
  Share this link with your <strong>friends</strong> to <em>ponvert</em> them!
</p>


<div>
  {{#if currentUser.ponzPoints.length }}
    <table class="table">
      <tbody>
          <tr>
            <h3>Ponz Pointz {{currentUser.ponzPoints}}</h3>
          </tr>
      </tbody>
    </table>
  {{else }}
    <p class="text-danger">You have no Ponz Points yet. You're poor.</p>
  {{/if }}
</div>

<div>
  <h3>Your Ponzverts</h3>
{{#if currentUser.childIds.length }}
  <table class="table">
    <tbody>
      {{#each currentUser.childIds as |ponzvert| }}
        <tr>
          <td>
            40 points: <strong>{{ponzvert.displayName}} </strong> <em>ponzverted on {{ponzvert.createdAt}}</em>
          </td>
        </tr>
        <tr>
          <td>
            <span class="tab">20 points: <strong>{{ponzvert.displayName}} </strong> <em>ponzverted on {{ponzvert.createdAt}}</em></span>
          </td>
        </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">You have no Ponzverts yet. Get Ponzverting now!</p>
{{/if }}
</div>
